@charset "utf-8";
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/* #wrap{
   
} */

.container{
    height: 100vh;
}

#hamburger{
    display: none;
    /* 전체스타일링때는 일단 가려두고, 햄버거 버튼이 필요한 부분에서 미디어쿼리로 블록으로 바꿔준 뒤 세부설정 해주기 */
}

/* 배너영역 */

/* header-area 영역 */
.banner{
    width: 100%;
    height: 100vh;   
    background: url(../img/banner-bg2.jpeg) no-repeat center;
    background-size: cover;
    position: relative;
}

.header-area{
    width: 100%;
    height: 80px;
    /* background-color: aquamarine; */
    /* 임시 배경색 */
    position: fixed;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-area .header-menu,
.header-area a,
.icon-box{
    display: flex;
    color: #fff;
}
.header-area a,
.icon-box .icon.active{
    color: #262320;
}
.header-logo{
    width: 180px;
    height: 40px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   
}

.header-logo.active{
    fill: #262320;
}
.header-area .header-menu{
    margin-left: 5%;
}
.header-area .header-menu li,
.header-area .icon-box .icon{
    margin-right: 17px;
}
.header-area .icon-box{
    margin-right: 5%;
}

/* banner-txt 영역 */
.banner-txt{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;
    
}
.banner-txt-logo svg{
    width: 400px;
}
.banner-txt p{
    margin-top: 10%;
    text-shadow: 0px 0px 20px #000000bd;
    /* 박스쉐도우처럼 X축,Y축, 블러, 컬러이다. */
}
.banner-txt a{
    display: inline-block;
    color: #fff;
    margin: 10% 2%;
    transition: 0.5s;
    text-shadow: 3px 0px 20px #000000cc;
}

.banner-txt a:hover{
    text-decoration: underline;
    /* 리셋파일에서 밑줄 지워버린거 다시 그어주는 속성 */
   
}

/* 서브메뉴 영역 */
/* 돌아가면서 가려놓고 보기 */
/* #tab1,#tab2,#tab3,#tab4{
    display: none;
} */

.sub-menu-box{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: transparent;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;

    opacity: 0;
    z-index: -1;

    /* 오퍼시티0으로 안보이게 숨기고, z-index로 한장 뒤로 숨겨서 존재는 하는데 뒷장에 가려진느낌!
    헤더메뉴에 호버했을때 클래스 제어로 액티브 추가되면서 오퍼시티1로 보이고 z-index 99로 보이게 처리 */
}

.sub-menu-box.active{
    opacity: 1;
    z-index: 99;
}

.sub-menu-box #tab1 a,
.sub-menu-box #tab2 a{
    /* 이미지를 a태그로 감쌌는데 이미지는 인라인 블록, a는 인라인이라서 안감싸진다. 그래서 꼭 인라인블록으로 디스플레이 변경해줘야 하고, 감싸고 있는 부모태그인 여기 a에다가 이미지의 너비높이값을 적어줘야 한다 */
    display: inline-block;
    width: 300px;
    height: 350px;
    position: absolute;
    left: -9%;

}

.sub-menu-box .sub-menu{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 0.9rem;
    width: 69vw;
}

/* .sub-menu.men,
.sub-menu.ss23,
.sub-menu.sale{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 54%;
    transform: translate(-50%,-40%);
    font-size: 0.9rem;
    width: 69vw;
   
} */
/* 얘의 너비값을 계산해서 꼭! 적어줘야 한다.
그러려면 피그마 가서 디자인 시안을 보고서 RECTANGLE툴로 너비를 잡아본 뒤 거기서 나오는 픽셀값을 가지고온다.
예) 1330(내가잡은 너비값) / 1920 * 100 = 69 
소수점 제외하고 대략 69로 잡아서 꼭 VIEWPORTWIDTH로 잡아줄것 */
.sub-menu.women .menu-left,
.sub-menu.men .menu-left{
    /* left는 이미지, right는 텍스트 */
    margin-left: -30%;

    /* 서브메뉴 ss23이랑 sale은 이상하게도 margin-left가 들어가면 안됨.. 그래서 두개만 넣어줬음 */
}

.sub-menu .menu-right{
    width: calc(100% - 300px);
    /* 이미지가 아닌 옆 묶음에게는 이미지의 너비값을 꼭 컬크식으로 빼주자. 안그러면 잡아놓은게 무너짐 */
}

.sub-menu-detail{
    display: flex;
    /* justify-content: space-between; */
    padding: 30px 0;
}

.sub-menu-detail ul{
    margin-right: 80px;
}

.sub-menu-detail ul:last-child{
    margin-right: -80px;
}

.sub-menu .sub-menu-body{
    margin-top: 10px;
}

/* 서브메뉴 3,4 정리 */
.sub-menu-box #tab3 img,
.sub-menu-box #tab4 img{
    display: inline-block;
    width: 300px;
    height: 350px;
}

.sub-menu-box #tab3 .sub-menu-body,
.sub-menu-box #tab4 .sub-menu-body{
    margin-top: 10px;
}
.sub-menu-box #tab3 .menu-right,
.sub-menu-box #tab4 .menu-right{
    margin-left: 20%;
}

.sub-menu-box p{
    font-size: 1.5rem;

}

/* sec-1 영역*/
.sec-1{
    background-color: #e4dbd6;
    display: flex;
    flex-direction:column;
    align-items: flex-end;
}
.sec-1 .container{
    width: 70vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 15%;    
}

.sec_1.left .sec-1 img{
    width: 700px;
    height: 222px;
}
.sec_1.left{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-right: 20%;
}
.sec-1-txt{
    width: 385px;
    line-height: 30px;
    font-size: 1.1rem;
}


.sec-1.right .mask{
    width: 20vw;
    height: 70vh;
    border-top-left-radius: 300px;
    border-top-right-radius: 300px;
    border-bottom-left-radius: 300px;
    border-bottom-right-radius: 300px;
    overflow: hidden;
}

/* sec-2 영역 */
.sec-2{
    background-color: #b1c9d8;
    position: relative;
}

.sec-2 .canvas{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.sec-2 .cell-box{
    display: flex;
    align-items: center;
    animation: infinite 60s linear infinite;
}

@keyframes infinite{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);

    }
}
.sec-2 .cell{
    width: 250px;
    height: 350px;
    position: relative;
}
.sec-2 .cell:nth-child(even){
    margin-top: 75px;
}
.sec-2 .cell:nth-child(odd){
    margin-top: -20px;
}
.sec-2 .cell-name {
    /* border: 1px solid #fff; */
    /* 임시보더값 */
    text-align: center;
    color: #fff;
    height: 40px;
    line-height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 1.1rem;
    text-shadow: 1px 1px 7px rgb(0 0 0 / 44%);
}

.sec-2-txt{
    font-family: "silk-serif";
    color: #fff;
    font-size: 1.25rem;
    font-weight: 300;
    width: 804px;
    position: absolute;
    /* top: -2%; */
    left: 31%;
    text-align: center;
    margin-top: 161px;
    letter-spacing: 1px;
}

.sec-2 .prev-btn{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
    width: 306px;
    font-size: 3rem;
    text-align: center;
}
.sec-2 .prev{
    margin-right: 20%;
}
.sec-2 .prev-btn a{
    color: #fff;
    font-family: "silk-serif";
    font-size: 1.5rem;
}
.sec-2 .prev::before{
    content: '\f104';
    font-family: fontawesome;
    /* 유니코드 쓸때 뒤에다가 꼭 폰트패밀리 폰트어썸 연결해주기 */
    margin-right: 20px;
}

.sec-2 .next::after{
    content: "\f105";
    font-family: fontawesome;
    margin-left: 20px;
}

/* sec-3 */
.sec-3{
    position: relative;
    
}
.sec-3 .container{
    position: relative;
    /* background-attachment: fixed; */
}

.sec-3-btn{
    font-size: 1.5rem;
    color: orange;
    position: absolute;
    bottom: 10.5%;
    right: 15.1%;
}

.svg-wrapper{
    position: absolute;
    bottom: 10%;
    right: 13.5%;
    width: 160px;
    height: 50px;
    z-index: 999;
    /* svg 전체 묶는 이 .svg-wrapper가 a보다 위에 있어야 정상적으로
    내가 원하는 SVG애니메이션을 만들어 줄 수 있다. 그렇기 때문에 z-index값을 줘야만 한다.*/
}
rect{
    width: 160px;
    height: 50px;

}

.shape{
    fill: transparent;
    stroke: orange;
    stroke-width: 5px;
    stroke-dasharray: 106 600;
    stroke-dashoffset: -236;
    margin-bottom: 10px;
    opacity: 0.3;
}

.shape:hover{
    animation: draw 0.5s linear forwards;
    opacity: 1;
}
@keyframes draw {
    0%{
        stroke-width: 5px;
    stroke-dasharray: 144 600;
    stroke-dashoffset: -224;

    
    }
    100%{
        /* 애니메이션이 진행됐을때 마지막으로 보일 부분 */
        stroke-width: 4px;
        stroke-dasharray: 760;
        stroke-dashoffset: 0;
    }
}
  

    /* sec-4 */
.sec-4 .container{
    background: url(../img/img.jpg) no-repeat center ;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    /* 스타벅스처럼 백그라운드를 딱 고정시켜주는 속성 */
}

.sec-4-txt{
    width: 1169px;
    height: 468px;
    position: absolute;
    top: 50%;
    right: 30px;
    flex-direction: column;
    justify-content: space-between;
}
.sec-4-bottom{
    font-family: "silk-serif";
    color: #fff;
    margin-top: 75px;
    font-size: 1.75rem;
    font-weight: 300;
    text-align: end;
  
}

/* sec-5 */
.sec-5 .container{
    position: relative;
}
.sec-5 .head-txt{
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 5rem;
    font-family: 'silk-serif';
}
.sec-5 .box{
    width: 400px;
    height: 500px;
}

.sec-5 .store-left{
   display: flex;
   position: absolute;
   top: 25%;
   left: 10%;
}

.sec-5 .store-left .box2{
    margin-top: 132px;
    margin-left: 15px;
}
.sec-5 .store-right{
    position: absolute;
    top: 25%;
    right: 10%;
}

.sec-5 .box{
    position: relative;
}
.sec-5 .shop{
    position: absolute;
    bottom: 2%;
    right: 2%;
    transform: translate(-50%,-50%);
    border: 1px solid #fff;
    width: 80px;
    height: 40px;
    transition: 0.1s;
}
.sec-5 .shop:hover{
  background-color: #fff;
  
}
.sec-5 .shop a{
    color: #fff;
    line-height: 40px;
    margin-left: 23%;
    font-family: "silk-serif";
    text-transform: uppercase;
    font-size: 1rem;
}
.sec-5 .shop:hover a{
    opacity: 1;
    color: rgba(0, 0, 0, 0.9);
    
}
.sec-5 .box p{
    position: absolute;
    top: 10%;
    left: 27%;
    font-size: 2rem;
    color: #fff;
    font-family: "silk-serif";

}
.sec-5 .box2 p{
    left: 33%;
}

/* footer */
.footer .container{
    position: relative;
    width: 80vw;
    height: auto;
    margin: 0 auto;
   padding: 50px 50px;
    margin-top: 50px;
}

.border-line{
    width: 80vw;
    border: 1px solid rgba(0, 0, 0, 0.5);
}
.footer .box-inner-txt-left{
    width: 769px;
    height: 180px;
    display: flex;
    justify-content: space-between;
    font-size: 0.75rem;
}
.footer .box-inner-txt-left a{
   color: #a8a8a8;
  
  
}
.footer h1:first-child{
    margin-bottom: 10px;
}


.footer .box-inner-txt-right{
    width: 341px;
    height: 92px;
    flex-wrap: wrap;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.5rem;
    padding: 50px 0; 
}

/* sec-1번 이미지 일러스트에서 뽑을때 정확히 핏되도록, 여백없이 잘라서 다시 저장해서 넣어줄것.


스크립트 작업 해줘야 할 부분
1.header-area에 마우스엔터 했을때 서브메뉴 나오기
1-1.서브메뉴 영역에 마우스 들어가있을때 서브메뉴 고정, 서브메뉴에서 마우스 나왔을때 서브메뉴 사라지기(자연스럽게)
1-2.header-area menu에 돌아가면서 호버됐을때 해당 tab 나오기
1-3.서브메뉴 들어갔을때 header-area 색상 검정으로 바뀌기(이거 설정할때 sec-5에 도달했을때 header-area 색상도 동일하게 바뀌도록 같이 잡아보기)

2.sec-1 right 스와이퍼 아래서 위로 움직이기
3.sec-4 오른쪽 텍스트가 스크롤시 오른쪽에서부터 밀려오기
4.가능하면 풀페이지 */

